<div class="container">
  <table class="table" *ngIf="orders">
    <thead>
    <tr>
      <th>ID</th> <th>Date</th> <th>Status</th><th>CustomerId</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let o of orders._embedded.bills">
      <td>{{o.id}}</td>
      <td>{{o.billingDate|date:'dd/MM/yyyy'}}</td>
      <td>{{o.status}}</td>
      <td>{{o.customerid}}</td>
      <td>
        <button class="btn btn-success" (click)="getOrderDetails(o)">Order Details</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
